<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h3><strong>本当に退会しますか？</strong></h3>
			<p>退会すると、会員登録情報や</p>
			<p>これまでの購入履歴が閲覧できなくなります。</p>
			<p>退会する場合は、「退会する」をクリックしてください。</p>

			<%= link_to root_path do %>
			<%= button_tag( class: 'btn btn-default' ) do %>
			退会しない
			<% end %>
			<% end %>

			<%= link_to withdraw_path(@customer), :method => :patch do %>
			<%= button_tag( class: 'btn btn-danger' ) do %>
			退会する
			<% end %>
			<% end %>
		</div>
	</div>
</div>