<h3><strong>本当に退会しますか？</strong></h3>
<p>退会すると、会員登録情報や</p>
<p>これまでの購入履歴が閲覧できなくなります。</p>
<p>退会する場合は、「退会する」をクリックしてください。</p>

<%= button_tag( class: 'btn btn-primary' ) do %>
退会しない
<% end %>

<%= button_tag( class: 'btn btn-danger' ) do %>
退会する
<% end %>