// Place all the styles related to the public/sweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
	max-width: 1200px;
}

.top_image {
    width: 800px;
    height: 500px;
    background-color: pink;
	background-image: image-url('naganocake1.jpg');

}

.top_text {
    position: absolute;
    width: 80%;
    height: 80%;
    text-align: center;
	background-color: rgba( 255,255 , 255, 0.5);
}
