<div class="container">
  <div class="row">
	<div class="col-lg-10 col-lg-offset-1">
		<h4>管理者画面</h4>

		<h3>注文件数

				<%= link_to(admin_orders_path(order_sort: "0")) do %>
				<%= @orders.count %>
				<% end %>
			件
		</h3>
	</div>
  </div>
</div>